set CHIPNAME stm32h750vb
source [find interface/jlink.cfg]
transport select swd
adapter speed 4000
source [find target/stm32h7x.cfg]
reset_config none separate
$_CHIPNAME.cpu0 configure -rtos auto
init
reset halt
flash write_image erase .build/bl_iram/bl_iram.hex
reset
# shutdown
